@import "tailwindcss";


@theme {

    --color-first: #21DB4D;
    --color-second: #068E30;
    --color-github: #181717;
    --color-html: #E34F26;
    --color-css: #1572B6;
    --color-js: #F7DF1E;
    --color-tailwind: #06B6D4;
    --color-node: #339933;
    --color-express: #000000;
    --color-react: #61DAFB;
    --color-instagram: #E1306C;
    --color-mongodb: #47A248;
    --color-redux: #764ABC;
    --color-typescript: #3178C6;
    --color-next: #000000;
    --color-bootstrap: #7952B3;
    --color-python: #3776AB;
    --color-php: #777BB4;
    --color-vscode: #007ACC;
     --color-mysql: #00758F;
  --color-cpp: #00599C;
  --color-instagram: #E1306C;


}